node_modules
.git
.gitignore
Dockerfile
.dockerignore
npm-debug.log
README.md
.env
.nyc_output
coverage
.nyc
.coverage
.coverage-final.json
*.md
.vscode
.idea
__tests__
*.spec.ts
*.test.ts
dist
.next
.next-cache
out